/*!
Theme Name: Ion AP3 Child Theme (fderiu)
Author: Francesco Deriu
Author URI: http://apppresser.com
Description: A starter child theme for the Ion AP3 theme.
Version: 2.0.0
Template: ap3-ion-theme
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Bitbucket Theme URI: https://bitbucket.org/fderiu/ollsys-ap3-child-theme
Bitbucket Branch: master
*/

/**
 * Your custom styles go below this line
 * --------------------------------------------------
 */


body {
    font-size:18px!important;
}

body, h1, h2, h3, h4 {
font-family:'Titillium Web', sans-serif;
color:#fff!important;
}

h1, h2, h3, h4 {
    font-weight:700;
}

a {
    color:#fff;
}

.flex {
    flex:1;
}

#main{
    background: #136a8a;
    background: -webkit-linear-gradient(to top, #1374b7 , #267871); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #136a8a , #1374b7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.location-700 input[type="text"]{
    width:50%;
}

input[type="text"], input[type="email"]{
    padding:10px 5px;
    font-size:18px;
    width:100%;
    height: 38px;
}

table {
    background-color: transparent!important;
}

.gmwd-infowindow-address{
    color:#000!important;
}

label{
    font-size:18px;
}

.scatta_foto {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width:100%;
    text-align:center;
}

div.wpcf7-response-output{
    color:#fff!important;
}

textarea{
    padding:10px 5px;
    font-size:18px;
    width:100%;
}

input[type=submit]{
    padding:3%;
    width:100%;
}





.appp-below-post{
margin:0!important;
}

.at-tableclass{
padding:0!important;
}

.at-tableclass h3 {
background:none!important;
}

.at-tableclass ul li {
margin:10px 0!important;
}

.at-number{
background:none!important;
color:#fff;
border-radius:0!important;
font-size:16px!important;
}

.page-id-2 input[type="text"] {
width:50%;
float:left;
color:#000!important;
height:50px;
font-size:18px;
background:transparent!important;
}
.page-id-2 input[type="submit"] {
width:100%;
}
.page-id-2 select{
width:50%;
float:right;
}

.page-id-2 input[type=submit]{
padding:3%;
}

.entry-content h1 {
font-family:'Titillium Web', sans-serif;
font-weight:700;
font-size:32px;
color:#fff;
}

.entry-content p {
font-size:18px!important;
line-height: 150%;
color:#fff;
}

img:first-child {
width:100%;
}

/* DIFFERENZIATA */

.diff_buttons {
    display:flex;
}

.appButton{
    padding:15px;
    font-size:15px;
    border:1px solid #fff;
    color:#fff;
    text-decoration: none;
}
.appButton .fa {
    vertical-align:middle;
    margin-right:5px;
}

.diff_buttons .appButton:last-child {
    border-left:none;
}

table.differenziata {
    width:100%;
}

.differenziata td {
    border-right:1px dashed #fff;
    width:33.333%;
    text-align:center;
}

.differenziata thead {
    font-weight:700;
}
.differenziata thead td{
    border-top:1px dashed #fff;
}

.differenziata tbody td {
    border-top:1px dashed #fff;
}

.differenziata tr td:last-child{
    border-right:none;
}

/* TABELLA CONTATTI */

table.contatti {
    width:100%;
}

.contatti td{
    border-right:1px dashed #fff;
    text-align:left;
    padding:5px 10px;
    width:auto;
}

.contatti tbody td {
    border-top:1px dashed #fff;
}

.contatti tr td:last-child{
    border-right:none;
}

.contatti tr:first-child td{
    border-top:none;
}

/* SLIDER */

.master-slider-parent{
    margin-top:-20px;
}